spring:
  cache:
    type: redis
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/test
    username: postgres
    password: postgres
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml
  servlet:
    multipart:
      max-file-size: 32MB
      max-request-size: 32MB
#  mail:
#    host:
#    port:
#    username:
#    password:
#    properties:
#      mail:
#        debug: true
#        smtp:
#          auth: true
#          starttls:
#            enable: true
#          ssl:
#            enable: true
  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.VoidSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

management:
  endpoints:
    web:
      exposure:
        include: "*"

smsapi:
  topic: "SMS_REQUEST"
  url: "http://localhost:8085/messaging/v1/SendSMS"
  alfa-name: "АПТЕК ТЕХНОЛОДЖИС"

jwt:
  access:
    seed: astr2345in5gsecr234etat256bi2345tslfasd34fAFAfsdF4356fDFSDon2345g2
    expiration: 360_000
  refresh:
    seed: asgaDSAFsdaafgSDFgsecr243236bi2345345fAFAfsdF4356fDF23FDFREWRWERWERWER
    expiration: 1_200_000

storage:
  path: